* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    

}

.about {
    color: gray;
}

.skills {
    color: blue;
}

.projects {
    color: salmon;
}

.contact {
    color: green;
}