* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    background-color: #E0E1DD;
}

div {
    background-color: #b7bfd2;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: black solid 1.5px;
}

.name {
    text-align: center;
}

a {
    color: rgb(73, 87, 130);
    text-decoration: none;
}

a:hover {
    color: #4a90e2;
}

#p-img {
    width: 1400px;
    height: auto;
}