* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    background-color: white;
}

div {
    background-color: white;
}

.box {
    background-color: #c7c7c7;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: black solid 1.5px;
}

#name {
    text-align: center;
}

a {
    color: rgb(27, 73, 255);
    text-decoration: none;
}

a:hover {
    color: #74a5ff;
}

#p-img {
    width: 1400px;
    height: auto;
}

.project img{
    width: 500px;
    height: auto;
    display: block;
}
